@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
   }
   
  .container{
    background:url(bg.jpg);
    height: 100vh;
    background-size: 100% 100%;
  }  
  .container .navbar{
    width: 100%;
    height: 80px;
    background: rgba(22, 112, 214, 0.4)
}
.navbar .logo{
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
}
.navbar .logo a{ 
    text-decoration: none;
    font-size: 30px; 
    font-family: sans-serif;
    color: #f3f3f3;
}
  .navbar ul{
    float: right;
    margin-right: 20px;
    
  }
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    margin: 0 8px;
    line-height: 80px;
}
.navbar ul li a{ 
    font-family: sans-serif;
    color: #f3f3f3;
    text-decoration: none;
    font-size: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
} 

.navbar ul li a.active,
.navbar ul li  a:hover{
    background: #ff6f00;
    border-radius: 2px;
}
.container .center{
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-family: sans-serif;
    user-select: none;
    text-align: center;
    
}
.x {text-align: center;}
